body {
    font-size: 35px;
}

.center {
    position: absolute;
    width: 200px;
    height: 200px;
    margin-left: -50px;
    margin-top: -56px;
    white-space: nowrap;
    top: 50%;
    left: 50%;
}

#orbit {
    position: fixed;
    width: 150px;
    height: 150px;
    margin-left: -85px;
    margin-top: -85px;
    top: 50%;
    left: 50%;
}

#orbitContainer {
    position: fixed;
    width: 200px;
    height: 200px;
    margin-left: -115px;
    margin-top: -115px;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    border: 3px dashed #E0E0E0;
}

#icon {
    margin-left: -25px;

    -webkit-transform: rotate(-45deg);
    -webkit-transform-origin: 0% 0%;

    -moz-transform: rotate(-45deg);
    -moz-transform-origin: 0% 0%;

    -ms-transform: rotate(-45deg);
    -ms-transform-origin: 0% 0%;

    -o-transform: rotate(-45deg);
    -o-transform-origin: 0% 0%;

    transform: rotate(-45deg);
    transform-origin: 0% 0%;
}

#weather {
    position: fixed;
    top: 50%;
    left: 50%;
    white-space: nowrap;
    margin-top: -195px;
    margin-left: -60px;
}

#line {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -175px;
    margin-left: -60px;
    border-top: 3px dashed #E0E0E0;
    width: 100px;
}

#lineEnd {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -177px;
    background-color: #D4D4D4;
    border-radius: 50%;
    margin-left: -75px;
    width: 8px;
    height: 8px;
}

#lineArrow {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -174px;
    border-right: 3px solid #E0E0E0;
    border-bottom: 3px solid #E0E0E0;
    margin-left: 43px;
    width: 5px;
    height: 5px;

    -webkit-transform: rotate(-45deg);
    -webkit-transform-origin: 0% 0%;
    -moz-transform: rotate(-45deg);
    -moz-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -ms-transform: rotate(-45deg);
    -o-transform-origin: 0% 0%;
    -o-transform: rotate(-45deg);
}

#pointer {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -145px;
    border-right: 3px solid #E0E0E0;
    border-top: 3px solid #E0E0E0;
    margin-left: -18px;
    width: 5px;
    height: 5px;

    -webkit-transform: rotate(-45deg);
    -webkit-transform-origin: 0% 0%;
    -moz-transform: rotate(-45deg);
    -moz-transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -ms-transform: rotate(-45deg);
    -o-transform-origin: 0% 0%;
    -o-transform: rotate(-45deg);
}
